<div class="titulo">
  <h1>Editar Tarea</h1>
</div>

<div class="container">
<form>
  <label for="txtUID">UID: {{tarea.uid}}</label>
  <label for="txtTarea">Tarea</label>
  <input type="text" name="txtTarea" id="txtTarea" [(ngModel)]='tarea.tarea'>
  <br>
  <label for="txtFecha">Fecha</label>
  <input type="text" name="txtFecha" id="txtFecha" [(ngModel)]='tarea.fecha'>
  <br>
  <label for="txtEtiq">Etiquetas (separadas por comas , )</label>
  <input type="text" name="txtEtiq" id="txtEtiq" [(ngModel)]='tarea.etiquetas'>
  <br>
  <button type="button" class="edit" (click)="actualizarTarea()">Actualizar Tarea</button>
  <button type="button" class="delete" (click)="eliminarTarea()">Eliminar Tarea</button>
  <button type="button" class="listar" (click)="listarTareas()">Listar Tareas</button>
</form>
<label>{{mensaje}}</label>
</div>
